@font-face {
  font-family: "Nantes";
  src: local("Nantes Regular"), local("Nantes-Regular"),
    url("./fonts/Nantes-Regular.woff2") format("woff2"),
    url("./fonts/Nantes-Regular.woff") format("woff"),
    url("./fonts/Nantes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans";
  src: url("./fonts/MessinaSans-Regular.eot");
  src: local("Messina Sans Regular"), local("MessinaSans-Regular"),
    url("./fonts/MessinaSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/MessinaSans-Regular.woff2") format("woff2"),
    url("./fonts/MessinaSans-Regular.woff") format("woff"),
    url("./fonts/MessinaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Nantes";
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Messina Sans";
  font-weight: 400;
  font-style: normal;
}

.asideLink {
  font-family: "Nantes";
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}
